<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>DelectServ</display-name>
    <servlet-name>DelectServ</servlet-name>
    <servlet-class>usms .FP.DelectServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectServ</servlet-name>
    <url-pattern>/DelectServ</url-pattern>
  </servlet-mapping>
  <display-name>teste</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeletServ</display-name>
    <servlet-name>DeletServ</servlet-name>
    <servlet-class>Usms .pf.DeletServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletServ</servlet-name>
    <url-pattern>/DeletServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletServe</display-name>
    <servlet-name>DeletServe</servlet-name>
    <servlet-class>usms.DeletServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletServe</servlet-name>
    <url-pattern>/DeletServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServQestions</display-name>
    <servlet-name>ServQestions</servlet-name>
    <servlet-class>ControllersForm.ServQestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServQestions</servlet-name>
    <url-pattern>/ServQestions</url-pattern>
  </servlet-mapping>
</web-app>